<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>انشاء حساب</title>
    <link rel="stylesheet" href="style/auth.css">
</head>
<body>

    <img src="images/bg.png" alt="" class="bg">
    
    <div class="container">
    
        <div class="img-cont">
            <img src="images/user.png" alt="" id="imgView">
            <input type="file" hidden id="imgInput" name="picture">
            <button type="button" id="imgBtn">تغير الصورة</button>
        </div>
    
        <input type="text" placeholder="اسمك بالكامل" name="full_name">
        <input type="email" placeholder="البريد الالكتروني" name="email">
        <input type="password" placeholder="كلمة المرور" name="password">
    

        <div class="btns">
            <a href="#">تسجيل الدخول ؟</a>
            <button>انشاء حساب</button>
        </div>
    </div>


    <script src="js/changeImg.js"></script>

</body>
</html>