{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>انشاء حساب</title>
    <link rel="stylesheet" href="{% static 'style/auth.css' %}">
</head>
<body>

    {% for msg in messages %}
        <script>alert("{{msg}}")</script>
    {% endfor %}
    
    <img src="{% static 'images/bg.png' %}" alt="" class="bg">
    <form class="container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="img-cont">
            <img src="{% static 'images/user.png' %}" alt="" id="imgView">
            <input type="file" hidden id="imgInput" name="picture">
            <button type="button" id="imgBtn">تغير الصورة</button>
        </div>
    
        <input type="text" placeholder="اسمك بالكامل" name="full_name">
        <input type="email" placeholder="البريد الالكتروني" name="email">
        <input type="password" placeholder="كلمة المرور" name="password">
    

        <div class="btns">
            <a href="{% url 'login' %}">تسجيل الدخول ؟</a>
            <button type="submit">انشاء حساب</button>
        </div>
    </form>


    <script src="{% static 'js/changeImg.js' %}"></script>

</body>
</html>